$line-height-base: 1;
$font-family-base: Helvetica, sans-serif;
$link-color: #336699;
$link-hover-color: #5af;
$link-hover-decoration: none;
$primary: #369;
$border-radius: 0;

$h1-font-size: 18px;
$h2-font-size: 18px;
$h3-font-size: 18px;
$h4-font-size: 18px;
$h5-font-size: 18px;
$h6-font-size: 18px;

@import "node_modules/bootstrap/scss/bootstrap";